Node_red.txt
[{"id":"645b326a.c1138c","type":"inject","z":"e647780a.f49558","name":"Forcage manuel","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":"","x":290,"y":140,"wires":[["cadd42ef.b3964"]]},{"id":"aabba443.546358","type":"inject","z":"e647780a.f49558","name":"Time 1 min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":290,"y":360,"wires":[["979ec109.a1ccd"]]},{"id":"33f7a3a8.059b9c","type":"mqtt in","z":"e647780a.f49558","name":"","topic":"domoticz/out","qos":"2","broker":"f0e0a1f2.be3d4","x":350,"y":220,"wires":[["e45fd364.1469d"]]},{"id":"e45fd364.1469d","type":"json","z":"e647780a.f49558","name":"","property":"payload","action":"","pretty":false,"x":510,"y":220,"wires":[["f47fc647.bb3b08"]]},{"id":"f47fc647.bb3b08","type":"function","z":"e647780a.f49558","name":"Temperature","func":"//msg.topic = \"domoticz/out/\"+msg.payload.name+\"/Temperature\";\n\nif  (msg.payload.name === \"Exterieure\") \n{\nmsg.payload = msg.payload.svalue1\nmsg.topic = \"afficheur/temp\";\nreturn msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["3ba6784d.4c1b68","a502d837.d64b78"]]},{"id":"3ba6784d.4c1b68","type":"mqtt out","z":"e647780a.f49558","name":"","topic":"","qos":"","retain":"","broker":"ee3b0af6.711048","x":1210,"y":220,"wires":[]},{"id":"cadd42ef.b3964","type":"http request","z":"e647780a.f49558","name":"Exterieure","method":"GET","ret":"txt","url":"192.168.1.100:8080/json.htm?type=devices&rid=13","tls":"","x":530,"y":140,"wires":[["b563fc38.16538"]]},{"id":"b563fc38.16538","type":"json","z":"e647780a.f49558","name":"","property":"payload","action":"","pretty":false,"x":670,"y":140,"wires":[["eb4ddbb4.fa0f28"]]},{"id":"a502d837.d64b78","type":"debug","z":"e647780a.f49558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":140,"wires":[]},{"id":"eb4ddbb4.fa0f28","type":"function","z":"e647780a.f49558","name":"Temperature","func":"msg.payload = String(msg.payload.result[0].Temp)\nmsg.topic = \"afficheur/temp\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["a502d837.d64b78","3ba6784d.4c1b68"]]},{"id":"a0697f72.4401d","type":"function","z":"e647780a.f49558","name":"Luminosite","func":"if  (msg.payload.name === \"Afficheur\")\n{\n   \nmsg.topic = \"afficheur/brightness\";\nmsg.payload = msg.payload.nvalue\nreturn msg;\n    //}\n}\n\n\n\n","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["17677295.611c4d","dcceeda7.cb0cc"]]},{"id":"3e53c710.4a4c18","type":"mqtt in","z":"e647780a.f49558","name":"","topic":"domoticz/out","qos":"2","broker":"f0e0a1f2.be3d4","x":330,"y":580,"wires":[["ac4af43c.a2fdc8"]]},{"id":"17677295.611c4d","type":"debug","z":"e647780a.f49558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":580,"wires":[]},{"id":"ac4af43c.a2fdc8","type":"json","z":"e647780a.f49558","name":"","property":"payload","action":"","pretty":false,"x":510,"y":580,"wires":[["a0697f72.4401d"]]},{"id":"dcceeda7.cb0cc","type":"change","z":"e647780a.f49558","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["a14cc821.f08008","17677295.611c4d"]]},{"id":"82dc9d90.31525","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":920,"wires":[["43aaa9e2.5dea88"]]},{"id":"43aaa9e2.5dea88","type":"function","z":"e647780a.f49558","name":"Meteo 1","func":"msg.payload = \"Clear\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":920,"wires":[["c5c4109b.ebe9a"]]},{"id":"54ef70b.f70589","type":"mqtt out","z":"e647780a.f49558","name":"","topic":"","qos":"","retain":"","broker":"ee3b0af6.711048","x":1210,"y":400,"wires":[]},{"id":"d01d1ef0.575db","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1000,"wires":[["366a13e3.cbe0ec"]]},{"id":"366a13e3.cbe0ec","type":"function","z":"e647780a.f49558","name":"Meteo 3","func":"msg.payload = \"Mist\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1000,"wires":[["c5c4109b.ebe9a"]]},{"id":"1d362df7.657172","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":960,"wires":[["987d3766.a9bc78"]]},{"id":"987d3766.a9bc78","type":"function","z":"e647780a.f49558","name":"Meteo 2","func":"msg.payload = \"Rain\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":960,"wires":[["c5c4109b.ebe9a"]]},{"id":"c5c4109b.ebe9a","type":"mqtt out","z":"e647780a.f49558","name":"","topic":"","qos":"","retain":"","broker":"ee3b0af6.711048","x":990,"y":1080,"wires":[]},{"id":"a2e3ddad.59a2b","type":"debug","z":"e647780a.f49558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250,"y":740,"wires":[]},{"id":"b94b3d9.cb833c","type":"inject","z":"e647780a.f49558","name":"Forcage manuel","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":"","x":310,"y":740,"wires":[["c255a371.c7cef"]]},{"id":"b49c7ff4.f4126","type":"function","z":"e647780a.f49558","name":"Icon meteo","func":"//msg.payload = String(msg.data.currently.icon)\nmsg.payload = String(msg.payload.weather)\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1070,"y":740,"wires":[["a2e3ddad.59a2b","77068299.ef7b6c"]]},{"id":"bda08d98.ed7bf","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1040,"wires":[["b1d456b9.a14dd8"]]},{"id":"b1d456b9.a14dd8","type":"function","z":"e647780a.f49558","name":"Meteo 4","func":"msg.payload = \"Clouds\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1040,"wires":[["c5c4109b.ebe9a"]]},{"id":"af4f0546.c861d8","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1120,"wires":[["98e4130d.65bb1"]]},{"id":"98e4130d.65bb1","type":"function","z":"e647780a.f49558","name":"Meteo 6","func":"msg.payload = \"Drizzle\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1120,"wires":[["c5c4109b.ebe9a"]]},{"id":"f38b672.183ed98","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1080,"wires":[["9a34681c.36d8a8"]]},{"id":"9a34681c.36d8a8","type":"function","z":"e647780a.f49558","name":"Meteo 5","func":"msg.payload = \"Snow\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1080,"wires":[["c5c4109b.ebe9a"]]},{"id":"96599607.13abf8","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1160,"wires":[["8ab7cd0e.29b23"]]},{"id":"8ab7cd0e.29b23","type":"function","z":"e647780a.f49558","name":"Meteo 7","func":"msg.payload = \"Thunderstorm\";\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1160,"wires":[["c5c4109b.ebe9a"]]},{"id":"57c0cc97.0572c4","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1240,"wires":[["5eab5708.59c508"]]},{"id":"5eab5708.59c508","type":"function","z":"e647780a.f49558","name":"Meteo 9","func":"msg.payload = 9;\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1240,"wires":[["c5c4109b.ebe9a"]]},{"id":"6db898ca.385758","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1200,"wires":[["e6b2adab.5c453"]]},{"id":"e6b2adab.5c453","type":"function","z":"e647780a.f49558","name":"Meteo 8","func":"msg.payload = 8;\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1200,"wires":[["c5c4109b.ebe9a"]]},{"id":"f67e2efa.f23e1","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1280,"wires":[["ddf2299a.9f52f8"]]},{"id":"ddf2299a.9f52f8","type":"function","z":"e647780a.f49558","name":"Meteo 10","func":"msg.payload = 10;\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1280,"wires":[["c5c4109b.ebe9a"]]},{"id":"18a02b3b.0afc45","type":"debug","z":"e647780a.f49558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":960,"wires":[]},{"id":"c4595dbb.24345","type":"inject","z":"e647780a.f49558","name":"","topic":"afficheur/meteo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1320,"wires":[["56617fdf.a1f66"]]},{"id":"56617fdf.a1f66","type":"function","z":"e647780a.f49558","name":"Meteo 11","func":"msg.payload = 11;\nmsg.topic = \"afficheur/meteo\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":1320,"wires":[["c5c4109b.ebe9a"]]},{"id":"c255a371.c7cef","type":"openweathermap","z":"e647780a.f49558","name":"Bain ","wtype":"current","lon":"","lat":"","city":"Bain-de-bretagne","country":"FR","language":"en","x":690,"y":740,"wires":[["b49c7ff4.f4126"]]},{"id":"95325f3a.df2a5","type":"comment","z":"e647780a.f49558","name":"Temperature domoticz","info":"","x":380,"y":80,"wires":[]},{"id":"4810bb49.907134","type":"debug","z":"e647780a.f49558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":360,"wires":[]},{"id":"a14cc821.f08008","type":"mqtt out","z":"e647780a.f49558","name":"","topic":"","qos":"","retain":"","broker":"ee3b0af6.711048","x":1190,"y":540,"wires":[]},{"id":"a0572d57.0fff4","type":"comment","z":"e647780a.f49558","name":"Gestion l'heure","info":"","x":360,"y":300,"wires":[]},{"id":"21864724.250f38","type":"comment","z":"e647780a.f49558","name":"Gestion luminosite","info":"","x":350,"y":520,"wires":[]},{"id":"dd0d4e08.975e7","type":"comment","z":"e647780a.f49558","name":"Gestion meteo","info":"","x":340,"y":660,"wires":[]},{"id":"77068299.ef7b6c","type":"mqtt out","z":"e647780a.f49558","name":"","topic":"","qos":"","retain":"","broker":"ee3b0af6.711048","x":1250,"y":680,"wires":[]},{"id":"86215599.7d6cd8","type":"mqtt in","z":"e647780a.f49558","name":"","topic":"afficheur/boot","qos":"2","broker":"f0e0a1f2.be3d4","x":90,"y":400,"wires":[["cadd42ef.b3964","c255a371.c7cef","979ec109.a1ccd","dcd3d68b.b6b9e8","518bf840.1924a8"]]},{"id":"979ec109.a1ccd","type":"moment","z":"e647780a.f49558","name":"Heure","topic":"afficheur/time","input":"","inputType":"date","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"fr_FR","output":"","outputType":"msg","outTz":"Europe/Paris","x":530,"y":360,"wires":[["54ef70b.f70589","4810bb49.907134"]]},{"id":"dcd3d68b.b6b9e8","type":"moment","z":"e647780a.f49558","name":"Day","topic":"afficheur/day","input":"","inputType":"date","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD","locale":"fr_FR","output":"","outputType":"msg","outTz":"Europe/Paris","x":530,"y":420,"wires":[["54ef70b.f70589","4810bb49.907134"]]},{"id":"bd686247.160a2","type":"inject","z":"e647780a.f49558","name":"Minuit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":"","x":280,"y":440,"wires":[["dcd3d68b.b6b9e8","518bf840.1924a8"]]},{"id":"518bf840.1924a8","type":"moment","z":"e647780a.f49558","name":"Month","topic":"afficheur/month","input":"","inputType":"date","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM","locale":"fr_FR","output":"","outputType":"msg","outTz":"Europe/Paris","x":530,"y":460,"wires":[["54ef70b.f70589","4810bb49.907134"]]},{"id":"bb6308b4.5b30f8","type":"comment","z":"e647780a.f49558","name":"Test icon meteo","info":"","x":120,"y":840,"wires":[]},{"id":"f0e0a1f2.be3d4","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee3b0af6.711048","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]